
.collection-header { 
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 16px;
}

.collection-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 16px;
}

.loading {
    display: flex;
    justify-content: center;
}